.body{      
    background-color: #638cd8;
    font-family: 'Dosis', sans-serif;
	font-family: 'Roboto Condensed', sans-serif;
}

main{
    height: 100vh;
}

.flex-sidebar {
    width: 14%;
}

.flex-form{
    width: 34%;
}

.flex-content{
    width: 500px;
}

.sidebar{
    background-color: #d2def5;
    padding: 6px 14px;
    text-align: center;
}

.nav{
    height: 50%;
}