
.body{      
  background-color: #638cd8;
  font-family: 'Dosis', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

main{
  height: 100vh;
}

.flex-sidebar {
  width: 14%;
}

.sidebar{
  background-color: #d2def5;
  padding: 6px 14px;
  text-align: center;
}

.sidebar .logo_content{
  margin-top: 25px;
}

.sidebar ul{
  margin-top: 50px;
}

.sidebar ul li{
  position: relative;
  align-items: center;
  text-align: center;
}

.nav{
  height: 40%;
}

.flex-tabla {
  
  width: 70%;
  
}

.tbody{
  font-size:small;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tfoot,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
  display: block;
}

.tabla{
  height: 350px;
}

