
.body{
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #638cd8;
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 180px;
  background-color: #d2def5;
  padding: 6px 14px;
}

.sidebar .logo_content{
  margin-top: 25px;
}

.sidebar ul{
  margin-top: 50px;
}

.sidebar ul li{
  position: relative;
  align-items: center;
  text-align: center;
}

/*
.navbar {
  position: absolute;
  margin: 5%;
  height: 30%;
  width: calc(100% - 220px);
  left: 130px;
  
}

.b-example-divider {
  height: 3rem;
  background-color: rgb(12, 135, 235);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.caja_2{
  position: absolute;
  height: 70%;
  width: calc(100% - 180px);
  background-color: red;
  top: 30%;
  left: 180px;
}*/

/*
@media (min-width: 1200px) {
  .navbar,
  .navbar-collapse {
    flex-direction: column;
  }

  .navbar {
    width: 14%;
    height: 100vh;
    align-items: flex-start;
  }

  .navbar-brand{
    margin-left: 5%;
    margin-bottom: 30px;
}

  .nav-item{
    width: 180px;
    text-align: center;
}
}
*/